<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Crash Course</title>
</head>
<body>
  <div class = "site-title">
    <a href="/"><h1>Blog Ninja</h1></a>
    <p>Net ninja site</p>
  </div>
  <div class="lists">
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About page</a></li>
      <li><a href="/blogs/create">New blog</a></li>
    </ul>
  </div>

  <div class="about-content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, harum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, expedita.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, atque.</p>
  </div>
</body>
</html>