<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Crash Course</title>
</head>
<body>

  <% const name = 'mario %>
  <div class = "site-title">
    <p><%= name%></p>
    <a href="/"><h1>Blog Ninja</h1></a>
    <p>Net ninja site</p>
  </div>
  <div class="lists">
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About page</a></li>
      <li><a href="/blogs/create">New blog</a></li>
    </ul>
  </div>

  <div class="content">
    <h2>All Blogs</h2>
  </div>
</body>
</html>